@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500);
tappd{
    max-width: 750px;
}
#digitalrelativity{
    width: 250px;
    min-height: 200px;
    background: url(../img/DRlogo.png) no-repeat;
    top: 130px;
    right: 40px;
    position: fixed;
    padding: 70px 10px 10px 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}
#digitalrelativity .social li{
    background-image: url(../img/SocialSprite.png);
    display: inline-block;
    height: 45px;
    width: 45px;
}
#digitalrelativity .social li a{
    height: 100%;
    width: 100%;
    display: block;
}

#digitalrelativity .facebook{background-position: top left;}
#digitalrelativity .twitter{background-position: -45px 0;}
#digitalrelativity .googleplus{background-position: -91px 0;}
#digitalrelativity .pinterest{background-position: -137px 0;}
#digitalrelativity .instagram{background-position: -183px 0;}

#digitalrelativity .facebook:hover{background-position: 0 45px;}
#digitalrelativity .twitter:hover{background-position: -45px 45px;}
#digitalrelativity .googleplus:hover{background-position: -91px 45px;}
#digitalrelativity .pinterest:hover{background-position: -137px 45px;}
#digitalrelativity .instagram:hover{background-position: -183px 45px;}
